<form id="artistSearchForm">
    <p>Search for an Artist:</p>
    <input type="text" id="artistSearchInput" class="input is-link" placeholder="Search for Artists"/>
    <button type="submit" class="button is-info is-medium">Search</button>
</form>
<div class="content">
    <br>
    <h2>Results:</h2>
    <section class="columns">
        <div id="resultCol1" class="column">
        </div>
        <div id="resultCol2" class="column">
        </div>
    </section>
</div>