<form id="artistSearchForm">
    <input type="text" id="artistSearchInput" class="input is-link" placeholder="Search for Artists"/>
    <button type="submit" class="button is-info is-medium">Search</button>
</form>