<!-- renders when login -->
<div class="section">
  <div class="container">
    <h1 class="title">Welcome to GrooveGuide</h1>
    {{!-- Display user-related content based on authentication status --}}
    <form id="artistSearchForm">
      <input type="text" id="artistSearchInput" class="input is-link" placeholder="Search for Artists"/>
      <button type="submit" class="button is-info is-medium">Search</button>
    </form>

    <form id="releaseSearchForm">
      <input type="text" id="releaseSearchInput" class="input is-link" placeholder="Search for Songs or Albums"/>
      <button type="submit" class="button is-info is-medium">Search</button>
    </form>

    {{!-- Display posts --}}
     {{#if posts}}
      <h2 class="subtitle">Recent Posts:</h2>
      <section class="posts">
        {{#each posts as |post|}}
        {{> post-details}}
        {{/each}}
      </section>
    {{else}}
      <p>No posts available.</p>
    {{/if}}
  </div>
</div>
<h1>homepage</h1>