<!-- renders when login -->
<div class="section">
  <div class="container">
    <h1 class="title has-text-centered">Welcome to GrooveGuide!</h1>
    <br>
  
    {{!-- Display posts --}}
     {{#if posts}}
      <div class="box">
        <h2 class="title">Recent Posts:</h2>
        <hr class="has-background-grey-darker">
        <br>
        <section class="posts">
          {{#each posts as |post|}}
          <section class="onePost">
            {{> post-details}}
          </section>
            <br>
          {{/each}}
        </section>
      </div>
    {{else}}
      <p>No posts available.</p>
    {{/if}}
  </div>
</div>
<h1>homepage</h1>