<div class="card onePost">
    <header class="card-header">
        <p class="card-header-title">{{post.mbid}}</p>
      </button>
    </header>
    <div class="card-content">
      <div class="content">
        {{post.caption}}
        {{#if post.recommended}}
        <p><strong>Recommended: </strong> Yes</p>
        {{else}}
        <p><strong>Recommended: </strong> No</p>
        {{/if}}
        <br>
        - {{post.user.name}}
      </div>
    </div>
</div>
<br>
<section class="comment-section">
    <h2><strong>Comments:</strong></h2>
    <br>
    <ul>
        {{#each post.comments as |comment|}}
        <div class="card oneComment">
            <p class="card-header-title">
                {{> comment-details}}
            </p>
        </div>
        <br>
        {{/each}}
    </ul>
</section>